body {
	padding-top:70px; 
	background: url(https://images.unsplash.com/photo-1510353157186-4e5fec7beb6d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2000&q=80);
	background-size: cover;
	background-position: center;
	align-items: center;

}
html {
	height: 100%;
	scroll-behavior: smooth;
}
.content {
	text-align: left;
	font-family: "Lato";
	color: #e3f1fa;
	text-shadow:	0px 4px 3px rgba(0,0,0,0.4),
					0px 8px 13px rgba(0,0,0,0.1),
					0px 18px 23px rgba(0,0,0,0.1);

}
.jumbotron {
	background-color: #1b2c38;
	margin: auto;
	margin-bottom: 10px;
}

.navbar-inverse {
	background-color: #1b2c38;
}

h1 {
	font-weight: 900px;
	text-shadow:	0px 4px 3px rgba(0,0,0,0.4),
					0px 8px 13px rgba(0,0,0,0.1),
					0px 18px 23px rgba(0,0,0,0.1);
}

.aboutMe {
	text-align: center;
	background: #c2ffea50;
	padding: 5%;
	font-family: "Lato"; 


}

.projects {
	text-align: center;

	background: #b3d6ff50;
	padding: 5%;
	font-family: "Lato";
}


.Skills {
	text-align: left;
	align-content: left;

	background: #85fff550;
	padding: 5%;
	font-family: "Lato";
}



h4 {
	line-height: 2em;
}
.slideIn {
	animation-duration: 1.5s;
  	animation-name: slidein;
}

.profilePhoto {
	border-radius: 100%;
}
.thumbnail {
	border-radius: 100%;
	border-color: transparent;
	margin: auto;
	max-width: 30%;
	background-color: transparent;
	align-items: center;
	padding:10px;
}

img {
	
	max-height: 400px;
	align-items: center;

}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 100%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.row {
	align-content: left;
}

.Skils  {
	align-items: left;

}

.bounce-7 {
        animation-name: bounce-7;
        animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
        animation-duration: 2s;
    }
    @keyframes bounce-7 {
        0%   { transform: scale(1,1)      translateY(0); }
        10%  { transform: scale(1.1,.9)   translateY(0); }
        30%  { transform: scale(.9,1.1)   translateY(-100px); }
        50%  { transform: scale(1.05,.95) translateY(0); }
        57%  { transform: scale(1,1)      translateY(-7px); }
        64%  { transform: scale(1,1)      translateY(0); }
        100% { transform: scale(1,1)      translateY(0); }
    }

.rating {
	align-items: left;
}

.panel {
	margin-top: 10px; 
    margin-bottom: 20px;
    border: 1px solid white;

    border-radius: 4px;
    -webkit-box-shadow: 4px 4px 3px rgba(0,0,0,.5);
    box-shadow: 3px 4px 3px rgba(0,0,0,.5);
}

.my_panel > .panel-body {
  padding: 0px;
}
.my_panel > .panel-body > img {
  width: 25%;
  height: 25%;
  max-height: 180px;

}
.my_panel > .panel-footer {
  text-align: center;
}

a {
	padding: 10px;	
}

.progressBar {
	margin-top: 2%; 
	display: inline-block;
    vertical-align: middle;
    float: none;
}

.progress-bar-success {
	background-color: #51ff00;
}

.progress-bar-info {
	background-color: #68ff21;
}

.progress-bar-warning {
	background-color: #89ff52;
}

.progress-bar-danger {
	background-color: #faeb61;
}

h3 {
	font-size: 1.5vw;
}


.Education {
	text-align: center;
	margin: auto;
	background: #45fff9AA;
	padding: 5%;
	font-family: "Lato";
}


/*Circular progress   https://bootsnipp.com/snippets/nrDmZ */


.progress{
    width: 150px;
    height: 150px;
    line-height: 150px;
    background: none;
    margin: 10px;
    box-shadow: none;
    position: relative;
}
.progress:after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 12px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
}
.progress > span{
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}
.progress .progress-left{
    left: 0;
}
.progress .progress-bar{
    width: 100%;
    height: 100%;
    background: none;
    border-width: 12px;
    border-style: solid;
    position: absolute;
    top: 0;
}
.progress .progress-left .progress-bar{
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}
.progress .progress-right{
    right: 0;
}
.progress .progress-right .progress-bar{
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    animation: loading-1 1.8s linear forwards;
}
.progress .progress-value{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: #44484b;
    font-size: 24px;
    color: #fff;
    line-height: 135px;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 5%;
}
.progress.blue .progress-bar{
    border-color: #049dff;
}
.progress.blue .progress-left .progress-bar{
    animation: loading-2 1.5s linear forwards 1.8s;
}
.progress.yellow .progress-bar{
    border-color: #fdba04;
}
.progress.yellow .progress-left .progress-bar{
    animation: loading-3 1s linear forwards 1.8s;
}
.progress.pink .progress-bar{
    border-color: #ed687c;
}
.progress.pink .progress-left .progress-bar{
    animation: loading-4 0.4s linear forwards 1.8s;
}
.progress.green .progress-bar{
    border-color: #1abc9c;
}
.progress.green .progress-left .progress-bar{
    animation: loading-5 1.2s linear forwards 1.8s;
}
@keyframes loading-1{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}
@keyframes loading-2{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(144deg);
        transform: rotate(144deg);
    }
}
@keyframes loading-3{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}
@keyframes loading-4{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(36deg);
        transform: rotate(36deg);
    }
}
@keyframes loading-5{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(126deg);
        transform: rotate(126deg);
    }
}
@media only screen and (max-width: 990px){
    .progress{ margin-bottom: 20px; }
}


span {
margin-top: 1%; }


.semi-transparent {
	background-color:  rgba(255, 255, 255, 0.7);
	padding: 3%;
	border-radius: 10px;
	margin-top: 5px; 
}

.form-inline .form-control {
    display: inline-block;
    width: all;
    vertical-align: middle;
}
.leftnomargin{
    margin-left: 0px
}